.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bg-adaptive {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  opacity: 1;
  overflow: hidden;
}
.page-a,
.page-b,
.page-c {
  background: url('http://imgs.zizaihome.com/5a23a0f4-fd2c-4885-a638-e95941c9ec60.jpg'); 
  background-size: 100% 100%;
}
.page-a {
  z-index: 999;
  font-size: .2rem;
  color: #fff;
  text-align: left;
}
.page-a-content {
  position: absolute;
  top: .8rem;
  left: .34rem;
  max-width: 2.6rem;
}
.page-a-line {
  width: .5rem;
  height: .12rem;
  background-color: #0329a0;
}
.page-a-text {
  margin-top: .1rem;
}


.page-b {
  z-index: 998;
}
.nail-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1.9rem;
  height: 2.9rem;
  overflow: hidden;
  background-image: url('http://imgs.zizaihome.com/2c8abf08-85e9-445e-8929-683ec4d2957c.png');
  background-size: 1.9rem 2.9rem;
}
.nail-line-box {
  position: absolute;
  top: .4rem;
  left: 0;
  width: 1.9rem;
  height: 2.46rem;
  overflow: hidden;
}
.nail-line {
  position: absolute;
  top: -2.48rem;
  left: 0;
  width: 1.9rem;
  height: 2.46rem;
  background: url('http://imgs.zizaihome.com/225fcbe1-a0db-4fdf-923f-e73d62ea7588.png') center center;
  background-size: 100% 2.46rem;
}
.nail-line-active {
  animation: lineMove 1.8s ease-in-out infinite;
  -webkit-animation: lineMove 1.5s ease-in-out infinite;
}
@keyframes lineMove {
  0% {
      top: -2.48rem;
      opacity: 0;
  }
  10% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
      top: .4rem;
      opacity: 0;
  }
}
@-webkit-keyframes lineMove {
  0% {
      top: -2.48rem;
      opacity: 0;
  }
  10% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
      top: .4rem;
      opacity: 0;
  }
}


.page-c {
  z-index: 997;
}
.page-c-dog {
  position: absolute;
  left: 1.175rem;
  bottom: 20%;
  width: 1.4rem;
}
.effect-out{
  -webkit-animation: effectOut 1.5s ease-in-out forwards;
  -moz-animation: effectOut 1.5s ease-in-out forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes effectOut{
  0% { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes effectOut{
  0% { opacity:1; }
  100% { opacity:0; }
}
.page-c-text1 {
  position: absolute;
  right: .36rem;
  bottom: 3rem;
  width: .8rem;
}
.page-c-text2 {
  position: absolute;
  right: .34rem;
  bottom: 3.35rem;
  width: 1.1rem;
  opacity: 0;
}
.effect-in{
  -webkit-animation: effectOut 1.5s 1.5s ease-in-out forwards;
  -moz-animation: effectOut 1.5s 1.5s ease-in-out forwards;
}
@-webkit-keyframes effectOut{
  0% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes effectOut{
  0% { opacity:0; }
  100% { opacity:1; }
}
.page-c-hole {
  position: absolute;
  bottom: .6rem;
  left: .375rem;
  width: 3rem;
  z-index: -1;
  opacity: 0;
}


.page-d {
  background-image: url('http://imgs.zizaihome.com/93fafe67-ec07-403e-bc7b-e26874f4e528.jpg');
  background-size: 100% 100%;
  z-index: 996;
}
.page-d-dog {
  position: absolute;
  top: .8rem;
  left: 50%;
  transform: translate(-36%);
  width: .9rem;
}


.page-d-guide,
.page-e-guide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 10;
}
.page-d-guide-content {
  position: absolute;
  bottom: 2rem;
  left: 0;
  width: 100%;
  height: 1.5rem;
  background-image: url('http://imgs.zizaihome.com/8c869f56-23a9-4d2f-aea7-c5284315df66.png');
  background-size: 100% 100%;
}
.page-d-guide-avatar {
  position: absolute;
  width: .4rem;
  left: .5rem;
  top: .2rem;
}
.page-d-guide-tips {
  position: absolute;
  left: 1rem;
  top: .2rem;
  width: 2.3rem;
  height: 1rem;
  color: #fff;
  font-size: 16px;
  text-align: left;
}
.page-d-guide-continue {
  position: absolute;
  right: .5rem;
  bottom: .2rem;
  color: #fff;
  font-size: 14px;
  opacity: 0;
}
.equip-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  left: .35rem;
  bottom: 2.2rem;
  width: 3.1rem;
  height: 1.4rem;
}
.equip-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: .67rem;
  height: .6rem;
  margin-bottom: .14rem;
  background: url('http://imgs.zizaihome.com/0d107eeb-b664-46de-a4a5-1873f2d15f58.png');
  background-size: 100% 100%;
}
.equip-item:nth-of-type(3n) {
  margin-right: 0;
}
.equip {
  width: 80%;
}
.equip-item-gray {
  background: rgba(128, 128, 128, .6);
}
.page-d-btn {
  position: absolute;
  bottom: .55rem;
  left: 50%;
  transform: translate(-50%);
  width: 1.75rem;
  height: .62rem;
  background: url('http://imgs.zizaihome.com/32e61c8f-f9e0-469a-9330-db37f87578c1.png');
  background-size: 100% 100%;
}
.page-d-btn-active {
  background: url('http://imgs.zizaihome.com/923049db-c320-47dd-8c53-bbe7fbd0071b.png');
  background-size: 1.75rem .62rem;
}


.page-e {
  z-index: 995;
  background: url('http://imgs.zizaihome.com/fbbfdcff-46ef-4279-a1c0-340b5418bfc1.jpg');
  background-size: 100% 100%;
}
.page-e-guide-content {
  position: absolute;
  left: 0;
  bottom: 1.8rem;
  width: 3.75rem;
  height: 1.64rem;
  font-size: 14px;
  color: #fff;
  background-image: url('http://imgs.zizaihome.com/8c869f56-23a9-4d2f-aea7-c5284315df66.png');
  background-size: 100% 100%;
}
.page-e-dog {
  position: absolute;
  left: 50%;
  top: 1.3rem;
  transform: translateX(-50%);
  width: 1.21rem;
  height: 2.07rem;
  background-size: 100% 100%;
}
.page-e-dog-0 {
  background-image: url('http://imgs.zizaihome.com/da00d024-454b-44b7-aafc-bdf758427f9f.png');
}
.page-e-dog-1 {
  background-image: url('http://imgs.zizaihome.com/5f2844c2-8f6f-4c6b-b711-643175c614bb.png');
}
.page-e-dog-2 {
  background-image: url('http://imgs.zizaihome.com/79c2fc26-3c09-4836-82c3-b8089f19f668.png');
}
.page-e-dog-3 {
  background-image: url('http://imgs.zizaihome.com/a8a4599c-f5ca-4e89-a1bf-82eaea8c5ceb.png');
}
.page-e-bar {
  position: absolute;
  right: .35rem;
  top: 1rem;
  width: .3rem;
  height: 1.85rem;
  background-size: 100% 100%;
}
.page-e-bar-0 {
  background-image: url('http://imgs.zizaihome.com/8f56b4b3-09aa-4383-be32-03915bfa41fb.png');
}
.page-e-bar-1 {
  background-image: url('http://imgs.zizaihome.com/e3929693-f856-4026-958c-891f95ba5d23.png');
}
.page-e-bar-2 {
  background-image: url('http://imgs.zizaihome.com/8242c1c6-1edc-4a6e-928b-729d85fc8df0.png');
}
.page-e-bar-3 {
  background-image: url('http://imgs.zizaihome.com/aa6a734b-16e9-4335-aa0a-0b759788e8ad.png');
}
.page-e-circle {
  position: absolute;
  left: 1.125rem;
  bottom: 1.2rem;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('http://imgs.zizaihome.com/67d353c2-163e-4904-98cf-33be7a70c185.png');
  background-size: 100% 100%;
}
.page-e-btn {
  position: absolute;
  left: 50%;
  bottom: .3rem;
  transform: translate(-50%);
  width: 2rem;
  height: .87rem;
  background-image: url('http://imgs.zizaihome.com/bdbf0efa-3d9d-4e86-8758-0f26b1cdbb56.png');
  background-size: 100% 100%;
}


.page-f {
  z-index: 994;
  background: url('http://imgs.zizaihome.com/3813ec1a-3382-4ccd-a7ca-00cb36b6f759.jpg');
  background-size: 100% 100%;
}
.page-f-bg {
  position: absolute;
  left: 0;
  top: .5rem;
  width: 100%;
  height: 100%;
}
.page-f-rocket-box {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 2rem;
  height: 4.39rem;
}
.page-f-rocket {
  position: absolute;
  left: .875rem;
  bottom: .3rem;
  width: 2rem;
}
.page-f-hot {
  position: absolute;
  width: 1rem;
  bottom: .4rem;
  left: 1.375rem;
}
.page-f-fire {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  z-index: -1;
}

.page-g {
  z-index: 993;
  background-color: rgba(128, 128, 128, .6);
}
.page-g-bg {
  width: 100%;
  height: 100%;
}
@media only screen and (min-height: 640px) {
  .page-e-dog {
    top: 21vh;
  }
}
/* iphone 12 pro XR 896+ */
@media only screen and (min-height: 740px) {
  .page-e-dog {
    top: 24vh
  }
}