.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bg-adaptive {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  opacity: 0;
  overflow: hidden;
}
.page-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  opacity: 1;
}
.page-loading-progress {
  width: 80%;
  margin: 0 auto;
}
.page-a,
.page-b,
.page-c {
  background: url('../static/1-背景.jpg'); 
  background-size: 100% 100%;
}
.page-a {
  z-index: 999;
  color: #fff;
  text-align: left;
}
.page-a-content {
  position: absolute;
  top: .8rem;
  left: .34rem;
}
.page-a-line {
  width: .5rem;
  height: .12rem;
  background-color: #0329a0;
}
.page-a-text {
  margin-top: .1rem;
  font-size: 20px;
  line-height: 26px;
}


.page-b {
  z-index: 998;
}
.nail-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1.9rem;
  height: 2.9rem;
  overflow: hidden;
  background-image: url('../static/1-指纹.png');
  background-size: 1.9rem 2.9rem;
}
.nail-line-box {
  position: absolute;
  top: .4rem;
  left: 0;
  width: 1.9rem;
  height: 2.46rem;
  overflow: hidden;
}
.nail-line {
  position: absolute;
  top: -2.48rem;
  left: 0;
  width: 1.9rem;
  height: 2.46rem;
  background: url('../static/图.png') center center;
  background-size: 100% 2.46rem;
}
.nail-line-active {
  /*
  animation: lineMove 1.5s ease-in-out infinite;
  -webkit-animation: lineMove 1.5s ease-in-out infinite; */
}
@keyframes lineMove {
  0% {
      top: -2.48rem;
      opacity: 0;
  }
  10% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
      top: .4rem;
      opacity: 0;
  }
}
@-webkit-keyframes lineMove {
  0% {
      top: -2.48rem;
      opacity: 0;
  }
  10% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
      top: .4rem;
      opacity: 0;
  }
}


.page-c {
  z-index: 997;
}
.page-c-dog {
  position: absolute;
  left: 1.175rem;
  bottom: 20%;
  width: 1.4rem;
}
.effect-out{
  -webkit-animation: effectOut 1.3s ease-in-out forwards;
  -moz-animation: effectOut 1.3s ease-in-out forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes effectOut{
  0% { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes effectOut{
  0% { opacity:1; }
  100% { opacity:0; }
}
.page-c-text1 {
  position: absolute;
  right: .36rem;
  bottom: 3rem;
  width: .7rem;
  opacity: 0;
}
.page-c-text2 {
  position: absolute;
  right: .34rem;
  bottom: 3.35rem;
  width: 1.1rem;
  opacity: 0;
}
.effect-in{
  -webkit-animation: effectOut 1.5s 1.5s ease-in-out forwards;
  -moz-animation: effectOut 1.5s 1.5s ease-in-out forwards;
}
@-webkit-keyframes effectOut{
  0% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes effectOut{
  0% { opacity:0; }
  100% { opacity:1; }
}
.page-c-guide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  z-index: 10000;
}
.page-c-nail {
  position: absolute;
  bottom: 40%;
  left: 1.6rem;
  width: .55rem;
  opacity: 0;
}
.page-c-nail-active {
  animation: nailMove .8s ease-in-out alternate infinite;
}
@-webkit-keyframes nailMove{
  0% { opacity:0; transform: scale(.8); }
  100% { opacity:1; transform: scale(1); }
}
.page-c-hole {
  position: absolute;
  bottom: 1.2rem;
  left: .75rem;
  width: 2.25rem;
  z-index: -1;
  opacity: 0;
}


.page-d {
  background-image: url('../static/2-背景.jpg');
  background-size: 100% 100%;
  z-index: 996;
}
.page-d-dog-box {
  position: absolute;
  top: .8rem;
  height: 1.44rem;
  left: 50%;
  transform: translate(-36%);
  width: .9rem;
}
.page-d-dog {
  width: .9rem;
}
.page-d-icon {
  position: absolute;
  opacity: 0;
}
.page-d-icon-1 {
  left: .06rem;
  top: -.16rem;
  opacity: 0;
  width: .59rem;
}
.page-d-icon-2 {
  top: -.16rem;
  left: .16rem;
  width: .57rem;
  opacity: 0;
}
.page-d-icon-3 {
  top: -.0rem;
  right: .04rem;
  width: .67rem;
}
.page-d-icon-4 {
  left: -.1rem;
  top: -.2rem;
  width: .7rem;
}
.page-d-icon-5 {
  left: -.26rem;
  top: -.28rem;
  width: .49rem;
}
.page-d-icon-6 {
  left: 0rem;
  top: .8rem;
  width: .9rem;
}
.page-d-icon-7 {
  width: .6rem;
  bottom: 0;
  left: .15rem;
}
.page-d-icon-8 {
  top: .05rem;
  left: 0;
  width: .5rem;
}
.page-d-icon-9 {
  right: .2rem;
  top: .3rem;
  width: .5rem;
}
.page-d-icon-10 {
  left: .22rem;
  top: -0.03rem;
  width: .4rem;
}
.page-d-icon-11 {
  left: -0.3rem;
  top: .2rem;
  width: .36rem;
}
.page-d-icon-12 {
  right: .18rem;
  top: .4rem;
  width: .3rem;
}
.page-d-icon-active {
  opacity: 1;
}
.page-d-icon-tip {
  position: absolute;
  right: .2rem;
  top: .6rem;
  max-width: 1.3rem;
  font-size:  .12rem;
  color: #fff;
  opacity: 0;
}


.page-d-guide,
.page-e-guide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 10;
}
.page-d-guide-content {
  position: absolute;
  bottom: 2rem;
  left: 0;
  width: 100%;
  height: 1.5rem;
  background-image: url('../static/2-对话框.png');
  background-size: 100% 100%;
}
.page-d-guide-avatar {
  position: absolute;
  width: .4rem;
  left: .5rem;
  top: .2rem;
}
.page-d-guide-tips {
  position: absolute;
  left: 1rem;
  top: .2rem;
  width: 2.3rem;
  height: 1rem;
  color: #fff;
  font-size: .15rem;
  text-align: left;
  word-break:break-all
}
.page-d-guide-continue {
  position: absolute;
  right: .5rem;
  bottom: .2rem;
  color: #fff;
  font-size: .14rem;
  opacity: 0;
}
.equip-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  left: .35rem;
  bottom: 2.2rem;
  width: 3.1rem;
  height: 1.4rem;
}
.equip-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: .67rem;
  height: .6rem;
  margin-bottom: .14rem;
  background: url('../static/2-道具框.png');
  background-size: 100% 100%;
}
.equip-item:nth-of-type(3n) {
  margin-right: 0;
}
.equip {
  width: 80%;
}
.equip-item-gray {
  background: rgba(128, 128, 128, .6);
}
.page-d-btn {
  position: absolute;
  bottom: .55rem;
  left: 50%;
  transform: translate(-50%);
  width: 1.75rem;
  height: .62rem;
  background: url('../static/2-按钮未启动.png');
  background-size: 100% 100%;
}
.page-d-btn-active {
  background: url('../static/按钮亮起.png');
  background-size: 1.75rem .62rem;
  animation: pageDBtnActive .5s ease-in-out alternate infinite;
}
@keyframes pageDBtnActive {
  0% {
    transform: translate(-50%) scale(.95);
  }
  100% {
    transform: translate(-50%) scale(1.05);
  }
}


.page-e {
  z-index: 995;
  background: url('../static/3bg.jpg');
  background-size: 100% 100%;
}
.page-e-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, .6);
  z-index: 999;
}
.page-e-nail {
  position: absolute;
  bottom: 1.95rem;
  left: 1.6rem;
  width: .55rem;
  opacity: 0;
}
.page-e-guide-content {
  position: absolute;
  left: 0;
  bottom: 1.8rem;
  width: 3.75rem;
  height: 1.64rem;
  font-size: .14rem;
  color: #fff;
  background-image: url('../static/2-对话框.png');
  background-size: 100% 100%;
  word-break:break-all
}
.page-e-dog {
  position: absolute;
  left: 50%;
  top: 1.2rem;
  transform: translateX(-50%) scale(1.2);
  width: .9rem;
  height: 1.51rem;
  background-size: 100% 100%;
}
.page-e-dog-0 {
  background-image: url('../static/3-感觉来了的-1.png');
}
.page-e-dog-1 {
  background-image: url('../static/3-有点意思的-2.png');
}
.page-e-dog-2 {
  background-image: url('../static/3-燃起来了的-3.png');
}
.page-e-dog-2 .page-e-icon-1 {
  top: -.11rem
}
.page-e-dog-2 .page-e-icon-2 {
  top: -.13rem
}
.page-e-dog-3 {
  background-image: url('../static/3-然进云霄了的-4.png');
}
.page-e-dog-3 .page-e-icon-1 {
  top: -.11rem
}
.page-e-dog-3 .page-e-icon-2 {
  top: -.11rem;
}
.page-e-dog-3 .page-e-icon-3 {
  top: 0.04rem;
}
.page-e-dog-3 .page-e-icon-4 {
  top: -0.14rem;
}
.page-e-dog-3 .page-e-icon-5 {
  top: -0.21rem;
}
.page-e-dog-3 .page-e-icon-8 {
  top: 0.1rem;
}
.page-e-dog-3 .page-e-icon-10 {
  top: 0rem;
}
.page-e-bar {
  position: absolute;
  right: .35rem;
  top: 1rem;
  width: .3rem;
  height: 1.85rem;
  background-size: 100% 100%;
}
.page-e-bar-0 {
  background-image: url('../static/3-能量條框.png');
}
.page-e-bar-1 {
  background-image: url('../static/3-能量條框1.png');
}
.page-e-bar-2 {
  background-image: url('../static/3-能量條框2.png');
}
.page-e-bar-3 {
  background-image: url('../static/3-能量條框3.png');
}
.page-e-icon-12 {
  top: .43rem;
}
.page-e-circle {
  position: absolute;
  left: 1.125rem;
  bottom: 1.4rem;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('../static/3-按住获取能量按钮.png');
  background-size: 100% 100%;
}
.page-e-btn {
  position: absolute;
  left: 50%;
  bottom: .3rem;
  transform: translate(-50%);
  width: 2rem;
  height: .87rem;
  background-image: url('../static/3-下一步按钮出现.png');
  background-size: 100% 100%;
  animation: pageEBtnActive .5s ease-in-out alternate infinite;
}
@keyframes pageEBtnActive {
  0% {
    transform: translate(-50%) scale(.97);
  }
  100% {
    transform: translate(-50%) scale(1.03);
  }
}


.page-f {
  z-index: 994;
  background: url('../static/5-背景.jpg');
  background-size: 100% 100%;
}
.page-f-bg {
  position: absolute;
  left: 0;
  top: .5rem;
  width: 100%;
  height: 100%;
}
.page-f-rocket-box {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 2rem;
  height: 4.39rem;
}
.page-f-rocket {
  position: absolute;
  left: .875rem;
  bottom: .3rem;
  width: 2rem;
}
.page-f-hot {
  position: absolute;
  width: 1rem;
  height: .88rem;
  bottom: .4rem;
  left: 1.375rem;
  opacity: 0;
}
.page-f-fire {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  z-index: -1;
}

.page-g {
  z-index: 993;
  background-color: #002bb5;
}
.page-g-bg {
  width: 100%;
  height: 100%;
}

.play-again {
  position: absolute;
  left: 50%;
  bottom: .1rem;
  width: 1.43rem;
  transform: translateX(-50%);
  z-index: 9999;
  animation: pageGBtnActive .4s ease-in-out alternate infinite;
}
@keyframes pageGBtnActive {
  0% {
    transform: translate(-50%) scale(.96);
  }
  100% {
    transform: translate(-50%) scale(1.03);
  }
}

.page-h {
  z-index: 992;
  background-color: rgba(128, 128, 128, .6);
}
@media only screen and (max-height: 456px) {
  .page-d-dog-box {
    top: .4rem;
  }
  .equip-box {
    bottom: 1.6rem;
  }
  .page-d-btn {
    width: 1rem;
    height: .36rem;
    bottom: .45rem;
  }
  .page-d-btn-active {
    background-size: 1rem .36rem;
  }
}
@media only screen and (min-height: 456px) and (max-height: 505px) {
  .page-d-dog-box {
    top: .65rem;
  }
  .equip-box {
    bottom: 1.9rem;
  }
  .page-d-btn {
    width: 1.6rem;
    height: .56rem;
    bottom: .45rem;
  }
  .page-d-btn-active {
    background-size: 1.6rem .56rem;
  }
}

/* andriod */
@media (max-width: 360px)  and (min-height: 740px) {
  .page-a-content {
    top: 22vh;
  }
  .page-d-dog-box {
    top: 1.3rem;
    transform: scale(1.3) translate(-36%);
  }
  .equip-box {
    bottom: 3.1rem;
  }
  .equip-item {
    width: 1rem;
  }
  .equip {
    width: .5rem;
  }
  .page-d-btn {
    bottom: .72rem;
  }
  .page-e-dog {
    top: 29vh
  }
}

/* iphone */
@media (min-width: 370px) and (max-width: 400px)  and (min-height: 600px) and (max-height: 650px) {
  .equip-box {
    bottom: 2rem;
  }
}
@media (min-width: 370px) and (max-width: 400px) and (min-height: 650px) and (max-height: 700px) {
  .equip-box {
    bottom: 2.2rem;
  }
}
@media (min-width: 370px) and (max-width: 400px) and (min-height: 700px) and (max-height: 730px) {
  .equip-box {
    bottom: 2.2rem;
  }
}
@media (min-width: 370px) and (max-width: 400px) and (min-height: 730px) and (max-height: 755px) {
  .page-a-content {
    top: 22vh;
  }
  .page-d-dog-box {
    top: 1.1rem;
    transform: scale(1.3) translate(-36%);
  }
  .equip-box {
    bottom: 2.4rem;
  }
  .equip {
    width: .5rem;
  }
  .page-d-btn {
    bottom: .65rem;
  }
  .page-e-dog {
    top: 29vh
  }
}
@media (min-width: 370px) and (max-width: 400px) and (min-height: 755px) and (max-height: 775px) {
  .page-a-content {
    top: 22vh;
  }
  .page-d-dog-box {
    top: 1.1rem;
    transform: scale(1.3) translate(-36%);
  }
  .equip-box {
    bottom: 2.8rem;
  }
  .equip-item {
    width: 1rem;
  }
  .equip {
    width: .5rem;
  }
  .page-d-btn {
    bottom: .6rem;
  }
  .page-e-dog {
    top: 29vh
  }
}
@media (min-width: 370px) and (max-width: 400px) and (min-height: 775px) and (max-height: 795px) {
  .page-a-content {
    top: 22vh;
  }
  .page-d-dog-box {
    top: 1.1rem;
    transform: scale(1.3) translate(-36%);
  }
  .equip-box {
    bottom: 3.1rem;
  }
  .equip-item {
    width: 1rem;
  }
  .equip {
    width: .5rem;
  }
  .page-d-btn {
    bottom: .72rem;
  }
  .page-e-dog {
    top: 29vh
  }
}
@media (min-width: 370px) and (max-width: 400px) and (min-height: 795px) {
  .page-a-content {
    top: 22vh;
  }
  .page-d-dog-box {
    top: 1.3rem;
    transform: scale(1.3) translate(-36%);
  }
  .equip-box {
    bottom: 3.1rem;
  }
  .equip-item {
    width: 1rem;
  }
  .equip {
    width: .5rem;
  }
  .page-d-btn {
    bottom: .72rem;
  }
  .page-e-dog {
    top: 29vh
  }
}

/* plus */
@media (min-width: 400px) and (min-height: 660px) and (max-height: 690px) {
  .equip-box {
    bottom: 2rem;
  }
  .equip {
    width: .5rem;
  }
  .page-d-btn {
    bottom: .42rem;
  }
  .page-e-dog {
    top: 29vh
  }
}
@media (min-width: 400px) and (min-height: 795px) {
  .page-a-content {
    top: 22vh;
  }
  .page-d-dog-box {
    top: 1.3rem;
    transform: scale(1.3) translate(-36%);
  }
  .equip-box {
    bottom: 3.1rem;
  }
  .equip-item {
    width: 1rem;
  }
  .equip {
    width: .5rem;
  }
  .page-d-btn {
    bottom: .72rem;
  }
  .page-e-dog {
    top: 29vh
  }
}