.container {
  width: 100%;
  height: 100%;
}
.bg-adaptive {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  opacity: 1;
}
.page-a,
.page-b,
.page-c {
  background: url('../assets/bluedash/1/1-背景.jpg'); 
  background-size: 100% 100%;
}
.page-a {
  z-index: 999;
  font-size: .2rem;
  color: #fff;
  text-align: left;
}
.page-a-content {
  position: absolute;
  top: .8rem;
  left: .34rem;
  max-width: 2.6rem;
}
.page-a-line {
  width: .5rem;
  height: .12rem;
  background-color: #0329a0;
}
.page-a-text {
  margin-top: .1rem;
}


.page-b {
  z-index: 9989;
  background-color: #f60;
}
.nail-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1.9rem;
  height: 2.9rem;
  background-image: url('../assets/bluedash/1/1-指纹.png');
  background-size: 1.9rem 2.9rem;
}
.page-c {
  z-index: 997;
  background-color: #409f43;
}